
body {
  background-color: #423D3C;
 }

/* Navigation */
  .navBar {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    margin: 0px 1%;
    height: 50px;
    width: 11.5%;
    color: white;
    font-family: Raleway, sans-serif;
  }
  .logonav {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    height: 50px;
    width: 11.5%;
    color: white;
    font-family: Raleway, sans-serif;
  }
  .navigation button {
    background-color:transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  button {
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color:#CFBB01;
    color: #423D3C;
  }
  body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
  }

/* Skills */

.header {
  text-align: left;
  width: 100%;
  margin: 50px auto;
}

@media screen and (max-width: 1300px) 
  .header {
    text-align: left;
    width: 100%;
    margin: 0px auto;
  }

#categoryGrid {
  margin: 0px 5%;
  display: grid;
  padding-bottom: 5%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  "caseStudies Technical UXUI  Portfo"
  ;
}
@media screen and (max-width: 800px) {
  #categoryGrid {
    display: inline-block;
  } }
 
.caseStudies {
    grid-area: caseStudies;
     }

.Technical {
  grid-area: Technical;
   }

.UXUI {
  grid-area: UXUI;
}

.Portfo {
  grid-area: Portfo;
}
  
.categoryGridArea {
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: top;
}
@media screen and (max-width: 1300px) {
  .categoryGridArea {
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    align-content: top;
    padding-bottom: 20px;
  } }

#Technical {
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  cursor: pointer;
  display: grid;
  align-content: top;
  padding-left: 30px;
}

#UXUI {
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: grid;
  align-content: top;
  padding-right: 70px;
}

.heading {
  height: 25px;
  color: #CFBB01;
  font-size: 24px;
  align-content: center;
  padding-bottom: 15px;
}

h1 {
  color: #CFBB01;
  font-family: 'DM Serif Display', serif;
  justify-content: left;
  font-size: 100px;
  font-weight: bold;
  text-align: left;
  padding-left: 5%;
}
@media screen and (max-width: 1300px) {
  h1 {
    color: #CFBB01;
    font-family: 'DM Serif Display', serif;
    justify-content: left;
    font-size: 100px;
    font-weight: bold;
    text-align: left;
  } }



  h2 {
    background-color: transparent;
    border: 2px solid  #CFBB01;
    margin-left: 5%;
    margin-top: 5%;
    color:  #CFBB01;
    width: 70%;
    padding: 14px 25px;
    font-size: 20px;
    font-weight:400;
    text-align: left;
    text-decoration: none;
    display: inline-block;
  }
  z {
    font-weight:800;
  }
  h2:hover, h2:active {
    background-color: #CFBB01;
    color: #423D3C;
  }

  p {
    color: white;
    width: 80%;
    font-size: 18px; 
    line-height: 150%;
    justify-content: left;
    align-content: top;
    font-weight:400;
    padding-left: 5%;
  }

h4 {
  color: white;
  font-size: 16px; 
  font-weight: 300;
}


i {
  font-size: 14px; 
  font-weight: 100;
}

ul {
  padding-left: 45px;
}

li {
  color: white;
  font-size: 18px; 
  line-height: 200%;
  text-overflow: balance;
}





/* Footer */

  .footer {
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
  }

  @media screen and (max-width: 1300px) {
    .footer {
      padding-right: 5px;
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      height: 100px;
    } }

  .name {
    color: white;
  }
  
  .footer a {
    padding: 5px 5px;
    font-size: 16px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    text-decoration: none;
  }

  @media screen and (max-width: 1300px) {
  .footer a {
    padding: 5px 5px;
    font-size: 14px;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    text-decoration: none;
  } }
 
  .gold {
    color: #CFBB01;
  }
  button {
    background-color:#81807a;
    border: none;
    color: #080808;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }
  
  button:hover {
    background-color:#CFBB01;
    color: #423D3C;
    transition: 0.2s;
  }
